.style-container {
	display: grid;
	grid-template-areas:
	  "header header"
	  "links links"
	  "menu content"
	  "footer footer";
	grid-template-columns: 1fr 3fr;
	gap: 15px;

	padding: 10px;
  }
  .style-container > div {
	background-color: #222831;
	padding: 10px;
	box-shadow: 0 0 10px rgba(255,255,255,0.3)
  }
  .style-container > div.header {
	grid-area: header;
	text-align: center;
  }

  .style-container > div.links {
	grid-area: links;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
  }


  .style-container > div.menu {
	grid-area: menu;
  }
  .style-container > div.content {
	grid-area: content;
  }

  .style-container > div.footer {
	grid-area: footer;
  }


body{
	padding-left: 300px;
	padding-right: 300px;
}

#headshot{
	width: 300px;
	border-radius: 0%;
	float: right;
	margin-right: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}