.bg-image{
	background-image: url("db.png");
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: -6;
	filter: saturate(0.5);

}

/* https://bettysgraphics.neocities.org/backgrounds */
// https://colorhunt.co/palette/222831393e46948979dfd0b8

.stars {
	background-image: url("stars2.gif");
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.4;
	//animation: pan 30s linear infinite;
}

.water{
	background-image: url("water.gif");
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	opacity: 0.07;

}

.content-div {
	background-color: #222831;
	padding: 10px;
	box-shadow: 0 0 10px rgba(255,255,255,0.3)
}

* {
	font-family: sans-serif;
	color: white;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1.2em;
	line-height: 1.4;
}